body {
    margin:0;
    margin-top: 40px;
    padding:0;
    /* background-image: url("/images/background.jpg"); */
    background-color: bisque;
    background-position:center;
    background-size: 180px;
  }
  
  .judul {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: black;
    text-align: center;
  }
  
  .subjudul {
    font-size: 16px;
    text-align: center !important;
    font-weight: 100;
    line-height: 22px;
  }
  
  
  /* .textCenter {
      text-align: center;
  } */
  
  img {
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
  }
  
  .list_isi li {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    padding-left: 20px;
    padding-top: 13px;
    color: black;
  }
  
  .content {
      max-width: 800px;
      padding: 20px;
      margin: 0 auto;
      border-left: 3px solid;
      border-right: 3px solid;
      background-color: #fff;
  }
  
  .warna_warni{
    background-image: linear-gradient(to right, red, 
    orange, yellow, green, blue, indigo, violet); /*to create the gradient*/
  
    -webkit-background-clip: text; /*to specify that the gradient only applies to the text*/
    color: transparent; /*to make the text transparent so the gradient could be seen*/
  }
  
  table {
    border: 1px solid black;
    border-collapse: collapse;
    padding-right: 25px;
  }

  #container{
    display: grid;
    place-items: center;

  }
  
  td {
    border: 1px solid black;
    padding: 5px;
    text-align: justify;
  }
  
  p {
    text-align: right;
  }
  